<h1>プロフィール(users/show)</h1>
<p>名前: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>


<% @favorite.each do |favorite| %>
  <tr>
    <td><%= favorite.blog.title %></td>
    <td><%= favorite.blog.content %></td>
    <td><%= link_to 'Show', blog_path(favorite.blog_id) %></td>
  </tr>
<% end %>
